:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --text-primary: rgba(255, 166, 0, 0.999);
    --text-secondary: rgb(106, 105, 105);
    --bg-primary: rgb(65, 64, 64);
    --bg-secondary: #141418;
}
